public/flow/dl.json
[{"id":"bbb02fb.0386ed","type":"mqtt out","z":"76c1f825.798938","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"","retain":"","broker":"620d31f.41b08d","x":444,"y":231.3333616256714,"wires":[]},{"id":"c763d07b.51b73","type":"mqtt in","z":"76c1f825.798938","name":"","topic":"client/200000206/200000206-GIOT-MAKER/dl","qos":"2","broker":"620d31f.41b08d","x":241.99991607666016,"y":115.93333148956299,"wires":[["dcf21b86.8b2828"]]},{"id":"dcf21b86.8b2828","type":"debug","z":"76c1f825.798938","name":"","active":true,"console":"false","complete":"false","x":558.9999961853027,"y":113,"wires":[]},{"id":"2b5053d2.089d5c","type":"inject","z":"76c1f825.798938","name":"","topic":"","payload":"{\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010491\",\"data\":\"0002\",\"extra\":{\"port\":103,\"txpara\":\"22\"}}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":128.99991607666016,"y":232.26669025421143,"wires":[["bbb02fb.0386ed"]]},{"id":"39f682e8.8ab59e","type":"ui_button","z":"76c1f825.798938","name":"","group":"fd21cfdd.e7156","order":0,"width":0,"height":0,"passthru":false,"label":"開燈","color":"","bgcolor":"","icon":"","payload":"{\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010491\",\"data\":\"0001\",\"extra\":{\"port\":103,\"txpara\":\"22\"}}}","payloadType":"str","topic":"","x":144.3000030517578,"y":386.13338470458984,"wires":[["bbb02fb.0386ed","f16ed3ad.d5b2a"]]},{"id":"f16ed3ad.d5b2a","type":"debug","z":"76c1f825.798938","name":"","active":false,"console":"false","complete":"false","x":323.3000030517578,"y":393.1333541870117,"wires":[]},{"id":"7268fb95.a1e694","type":"ui_button","z":"76c1f825.798938","name":"","group":"c9db5a76.8c26f8","order":0,"width":0,"height":0,"passthru":false,"label":"關燈","color":"","bgcolor":"gray","icon":"","payload":"{\"correlationId\":\"1\",\"dldata\":{\"macAddr\":\"05010491\",\"data\":\"0002\",\"extra\":{\"port\":103,\"txpara\":\"22\"}}}","payloadType":"str","topic":"","x":145.3000030517578,"y":501.2000045776367,"wires":[["bbb02fb.0386ed"]]},{"id":"620d31f.41b08d","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","clientid":"200000206-generic-service33","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fd21cfdd.e7156","type":"ui_group","z":"","name":"開燈","tab":"fa8b837b.d782b","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9db5a76.8c26f8","type":"ui_group","z":"","name":"關燈","tab":"fa8b837b.d782b","order":2,"disp":true,"width":"6","collapse":false},{"id":"fa8b837b.d782b","type":"ui_tab","z":"","name":"開關控制","icon":"dashboard","order":3}]