public/flow/map.json
[{"id":"603f0b02.f287d4","type":"inject","z":"56c7a414.58343c","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.5,"y":46,"wires":[["5cdb9580.92f3ac"]]},{"id":"5cdb9580.92f3ac","type":"function","z":"56c7a414.58343c","name":"map 17","func":"var myobj = {\n  \"deviceType\": \"17\",\n  \"typeName\": \"土壤感測\",\n  \"fieldName\": {\n    \"ph\": \"酸鹼度\",\n    \"moisture\": \"含水量\",\n    \"temperature\": \"溫度\",\n    \"ec\": \"電導度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"ph\": [\n      4,\n      8,\n      \"(data+1)*3.3/4096*7\"\n    ],\n    \"moisture\": [\n      14,\n      18,\n      \"data/100\"\n    ],\n    \"temperature\": [\n      18,\n      22,\n      \"data/100\"\n    ],\n    \"ec\": [\n      22,\n      26,\n      \"data/1000\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":45,"wires":[["9c34f7e9.6b3ae8"]]},{"id":"33429875.335128","type":"function","z":"56c7a414.58343c","name":"map 18","func":"var myobj = {\n  \"deviceType\": \"18\",\n  \"typeName\": \"溫濕度感測\",\n  \"fieldName\": {\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\":  new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":101,"wires":[["9c34f7e9.6b3ae8"]]},{"id":"15cf63b2.5f6a3c","type":"function","z":"56c7a414.58343c","name":"map 19","func":"var myobj = {\n  \"deviceType\": \"19\",\n  \"typeName\": \"光合溫濕度\",\n  \"fieldName\": {\n    \"photon\": \"光照度\",\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"photon\": [\n      4,\n      8,\n      \"(data+1)*(3300/4096)\"\n    ],\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":154,"wires":[["9c34f7e9.6b3ae8"]]},{"id":"7f57173d.0749e8","type":"inject","z":"56c7a414.58343c","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":111,"y":103,"wires":[["33429875.335128"]]},{"id":"ee1764f4.04ff48","type":"inject","z":"56c7a414.58343c","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":157,"wires":[["15cf63b2.5f6a3c"]]},{"id":"9c34f7e9.6b3ae8","type":"function","z":"56c7a414.58343c","name":"Create Map","func":"var util = context.global.util;\nutil.createMap(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":475.5,"y":104,"wires":[[]]}]