public/flow/mqtt_all.json
[{"id":"de36b5b2.740e88","type":"function","z":"9ec162e1.ee1bb","name":"取出溫濕度","func":"var obj = msg.payload;\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":420,"y":412.99609375,"wires":[["ea8f315d.da6b9","8e616e25.4f1cd","4f6f43bd.da57fc"],["2f9d45eb.4b8d7a","b52a445a.6cc098"]]},{"id":"6879062e.8e4448","type":"function","z":"9ec162e1.ee1bb","name":"解析資料","func":"var util = context.global.util;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":402.39453125,"y":179.38671875,"wires":[["4241c3ae.43fedc","de36b5b2.740e88","ecdc1cc1.fce33"]]},{"id":"ecdc1cc1.fce33","type":"function","z":"9ec162e1.ee1bb","name":"存到資料庫","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":640,"y":172.99609375,"wires":[["3c74f235.34949e"]]},{"id":"3c74f235.34949e","type":"debug","z":"9ec162e1.ee1bb","name":"","active":false,"console":"false","complete":"payload","x":870,"y":172.99609375,"wires":[]},{"id":"af6ec711.a81e68","type":"function","z":"9ec162e1.ee1bb","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":482.01947021484375,"y":529.4999694824219,"wires":[[]]},{"id":"c9ed2cb6.2c0b1","type":"function","z":"9ec162e1.ee1bb","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":474.01947021484375,"y":570.9999389648438,"wires":[[]]},{"id":"ea8f315d.da6b9","type":"ui_gauge","z":"9ec162e1.ee1bb","name":"溫度","group":"f228f0dd.9d9c9","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":452.99609375,"wires":[]},{"id":"2f9d45eb.4b8d7a","type":"ui_gauge","z":"9ec162e1.ee1bb","name":"濕度","group":"1e80e3dc.d4420c","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":818.9999542236328,"y":551.9960899353027,"wires":[]},{"id":"b304e8e7.bc5c68","type":"inject","z":"9ec162e1.ee1bb","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":147.01947021484375,"y":385.4999694824219,"wires":[["af6ec711.a81e68","c9ed2cb6.2c0b1"]]},{"id":"8e616e25.4f1cd","type":"ui_chart","z":"9ec162e1.ee1bb","name":"","group":"f228f0dd.9d9c9","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":818.4999542236328,"y":500.32944107055664,"wires":[[],[]]},{"id":"8e77f0e1.421","type":"inject","z":"9ec162e1.ee1bb","name":"","topic":"","payload":"[{\"channel\":925875000, \"sf\":10, \"time\":\"2018-12-22T06:50:53Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-95.0, \"snr\":24.5, \"snr_max\":32.0, \"snr_min\":17.5, \"macAddr\":\"0000000005010e29\", \"data\":\"fb0106cf0b0f06004b0cda00000000\", \"frameCnt\":8161, \"fport\":17}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":272.99609375,"wires":[["6879062e.8e4448"]]},{"id":"4241c3ae.43fedc","type":"debug","z":"9ec162e1.ee1bb","name":"","active":true,"console":"false","complete":"false","x":640.0195999145508,"y":243.00000762939453,"wires":[]},{"id":"b2160c64.a8591","type":"debug","z":"9ec162e1.ee1bb","name":"","active":false,"console":"false","complete":"false","x":394.01953125,"y":245,"wires":[]},{"id":"4f6f43bd.da57fc","type":"function","z":"9ec162e1.ee1bb","name":"比對溫度設定值","func":"var msgTools = context.global.msgTools;\nvar setting = msgTools.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":332.99609375,"wires":[["51d1706d.392a1","b7e54d63.98fde"]]},{"id":"51d1706d.392a1","type":"debug","z":"9ec162e1.ee1bb","name":"","active":true,"console":"false","complete":"false","x":840,"y":272.99609375,"wires":[]},{"id":"b7e54d63.98fde","type":"function","z":"9ec162e1.ee1bb","name":"傳訊息給line bot","func":"var msgTools = context.global.msgTools;\nmsgTools.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":372.99609375,"wires":[[]]},{"id":"b52a445a.6cc098","type":"ui_chart","z":"9ec162e1.ee1bb","name":"","group":"1e80e3dc.d4420c","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":818.9999694824219,"y":597.9960842132568,"wires":[[],[]]},{"id":"34b67eb8.7ecf62","type":"mqtt in","z":"9ec162e1.ee1bb","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"e4ed2e25.486f2","x":123,"y":124,"wires":[["6879062e.8e4448","e00720f4.ce412"]]},{"id":"e00720f4.ce412","type":"debug","z":"9ec162e1.ee1bb","name":"","active":true,"console":"false","complete":"false","x":319.52430725097656,"y":107.56250762939453,"wires":[]},{"id":"f228f0dd.9d9c9","type":"ui_group","z":"","name":"Group 1","tab":"1dbbd813.047e98","order":1,"disp":true,"width":"10"},{"id":"1e80e3dc.d4420c","type":"ui_group","z":"","name":"Group 2","tab":"1dbbd813.047e98","order":2,"disp":true,"width":"10"},{"id":"e4ed2e25.486f2","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1dbbd813.047e98","type":"ui_tab","z":"9ec162e1.ee1bb","name":"溫濕度","icon":"dashboard","order":1}]