public/flow/ws_all.json
[{"id":"1afc4980.8309d7","type":"websocket out","z":"7c55e631.7fc988","name":"web socket mobiUI - out","server":"323c593f.0a0596","client":"","x":744,"y":262,"wires":[]},{"id":"4ded4981.5c8af8","type":"websocket in","z":"7c55e631.7fc988","name":"web socket tools - in","server":"323c593f.0a0596","client":"","x":164,"y":162,"wires":[["5e8a1ca0.fae8e4","c018d0e2.f553d"]]},{"id":"168a1a.b04a95e6","type":"comment","z":"7c55e631.7fc988","name":"監聽 /ws/devices","info":"","x":150.98046875,"y":116.99609375,"wires":[]},{"id":"5e8a1ca0.fae8e4","type":"function","z":"7c55e631.7fc988","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":374,"y":162,"wires":[["2dbe6a64.4c2266","599b9aea.aa74e4"]]},{"id":"2dbe6a64.4c2266","type":"function","z":"7c55e631.7fc988","name":"set index/view","func":"var moment = context.global.momentModule;\n\nvar mac = msg.payload.mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \ncontext.global.selectedMac = mac;\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":744,"y":162,"wires":[["6bf43a5a.dd16f4"]]},{"id":"eb7e3640.94a678","type":"function","z":"7c55e631.7fc988","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nnode.warn('Parse(mongoDb message) mac:' + mac);\nvar msgTools = context.global.msgTools;\nvar data = msgTools.getTabledata (msg.payload);\n\nmsg.payload = {id:\"change_table\", v: data, mac: mac};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":406,"y":262,"wires":[["1afc4980.8309d7"]]},{"id":"6bf43a5a.dd16f4","type":"http request","z":"7c55e631.7fc988","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":164,"y":263,"wires":[["1f28f83d.0464e8","eb7e3640.94a678"]]},{"id":"1f28f83d.0464e8","type":"debug","z":"7c55e631.7fc988","name":"","active":true,"console":"false","complete":"false","x":329,"y":346,"wires":[]},{"id":"7df0bf65.8df82","type":"websocket in","z":"7c55e631.7fc988","name":"","server":"8e0d6607.2d65c8","client":"","x":144,"y":462,"wires":[["f6c478dc.d30628"]]},{"id":"f6c478dc.d30628","type":"function","z":"7c55e631.7fc988","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar msgTools = context.global.msgTools;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    msgTools.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":394,"y":462,"wires":[["a4190df.ce316f","45972e61.32692"]]},{"id":"a4190df.ce316f","type":"debug","z":"7c55e631.7fc988","name":"","active":true,"console":"false","complete":"false","x":714,"y":402,"wires":[]},{"id":"45972e61.32692","type":"websocket out","z":"7c55e631.7fc988","name":"","server":"8e0d6607.2d65c8","client":"","x":724,"y":462,"wires":[]},{"id":"71f8dd64.0e6574","type":"comment","z":"7c55e631.7fc988","name":"監聽 /WS/setting ","info":"","x":154,"y":422,"wires":[]},{"id":"c018d0e2.f553d","type":"debug","z":"7c55e631.7fc988","name":"","active":false,"console":"false","complete":"false","x":404,"y":102,"wires":[]},{"id":"599b9aea.aa74e4","type":"debug","z":"7c55e631.7fc988","name":"","active":false,"console":"false","complete":"false","x":724,"y":102,"wires":[]},{"id":"323c593f.0a0596","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"8e0d6607.2d65c8","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"}]