.nodered/.flows_960193-NB01.json.backup
[{"id":"49a5ec92.fc6274","type":"tab","label":"Flow 1"},{"id":"e2e253ea.6b249","type":"tab","label":"Flow 2"},{"id":"c6d5e466.dc2af8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8bd27fdf.c4422","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"10"},{"id":"13305194.74b30e","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"10"},{"id":"73048832.485948","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ce4ea64.1d1c18","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"7acf2980.0986d8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service017","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fad1362d.e35ce8","type":"ui_group","z":"","name":"Group 1","tab":"7d85442a.12e78c","order":1,"disp":true,"width":"10"},{"id":"8aa59a17.2d4e48","type":"ui_group","z":"","name":"Group 2","tab":"7d85442a.12e78c","order":2,"disp":true,"width":"10"},{"id":"7d85442a.12e78c","type":"ui_tab","z":"49a5ec92.fc6274","name":"溫濕度","icon":"dashboard","order":1},{"id":"79a39deb.0b33a4","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"},{"id":"57515260.230d6c","type":"websocket-client","z":"","path":"ws://localhost:3000/ws/devices","wholemsg":"false"},{"id":"fb99a7f7.7b0bd8","type":"function","z":"49a5ec92.fc6274","name":"取出溫濕度","func":"var obj = msg.payload;\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":436,"y":402.99609375,"wires":[["fd2b96f1.6ea448","8d2e0554.b63488","488e0cd7.c60c84"],["d411975e.6d7878","39fa79e3.d84db6"]]},{"id":"44851674.febb98","type":"function","z":"49a5ec92.fc6274","name":"解析資料","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":418.39453125,"y":169.38671875,"wires":[["266fa80c.228bb8","fb99a7f7.7b0bd8","e51fa3c7.363d"]]},{"id":"e51fa3c7.363d","type":"function","z":"49a5ec92.fc6274","name":"存到資料庫","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":656,"y":162.99609375,"wires":[["4486ed5c.db8b24"]]},{"id":"4486ed5c.db8b24","type":"debug","z":"49a5ec92.fc6274","name":"","active":false,"console":"false","complete":"payload","x":886,"y":162.99609375,"wires":[]},{"id":"f4141af6.445c38","type":"mqtt in","z":"49a5ec92.fc6274","name":"MQTT sub","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"7acf2980.0986d8","x":143.01953125,"y":99,"wires":[["f3828bdc.566ab8"]]},{"id":"3ef3cae.8501a36","type":"function","z":"49a5ec92.fc6274","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":498.01947021484375,"y":519.4999694824219,"wires":[[]]},{"id":"7af7cd20.dc8d44","type":"function","z":"49a5ec92.fc6274","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":490.01947021484375,"y":560.9999389648438,"wires":[[]]},{"id":"fd2b96f1.6ea448","type":"ui_gauge","z":"49a5ec92.fc6274","name":"溫度","group":"fad1362d.e35ce8","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":836,"y":442.99609375,"wires":[]},{"id":"d411975e.6d7878","type":"ui_gauge","z":"49a5ec92.fc6274","name":"濕度","group":"8aa59a17.2d4e48","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":834.9999542236328,"y":541.9960899353027,"wires":[]},{"id":"537b063.f8fb3f8","type":"inject","z":"49a5ec92.fc6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":163.01947021484375,"y":375.4999694824219,"wires":[["3ef3cae.8501a36","7af7cd20.dc8d44"]]},{"id":"8d2e0554.b63488","type":"ui_chart","z":"49a5ec92.fc6274","name":"","group":"fad1362d.e35ce8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":834.4999542236328,"y":490.32944107055664,"wires":[[],[]]},{"id":"6aabec40.f26134","type":"inject","z":"49a5ec92.fc6274","name":"","topic":"","payload":"{\"id\":\"f8e1034f-e8f0-408d-b174-ef448e824acc\",\"macAddr\":\"05010326\",\"data\":\"08db1d2a\",\"buff\":\"2017-12-13T08:10:03.541Z\",\"recv\":\"2017-12-13T08:10:03.000Z\",\"extra\":{\"gwip\":\"163.28.166.166\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-101,\"snr\":3.8}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":262.99609375,"wires":[["f3828bdc.566ab8"]]},{"id":"f3828bdc.566ab8","type":"json","z":"49a5ec92.fc6274","name":"","x":276.01953125,"y":168,"wires":[["44851674.febb98","163e39c2.24d4f6"]]},{"id":"266fa80c.228bb8","type":"debug","z":"49a5ec92.fc6274","name":"","active":true,"console":"false","complete":"false","x":656.0195999145508,"y":233.00000762939453,"wires":[]},{"id":"163e39c2.24d4f6","type":"debug","z":"49a5ec92.fc6274","name":"","active":false,"console":"false","complete":"false","x":410.01953125,"y":235,"wires":[]},{"id":"488e0cd7.c60c84","type":"function","z":"49a5ec92.fc6274","name":"比對溫度設定值","func":"var msgTools = context.global.msgTools;\nvar setting = msgTools.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":616,"y":322.99609375,"wires":[["e78752f2.97068","ae6ac101.af3a6"]]},{"id":"b582470b.6a3218","type":"e-mail","z":"49a5ec92.fc6274","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":836,"y":302.99609375,"wires":[]},{"id":"e78752f2.97068","type":"debug","z":"49a5ec92.fc6274","name":"","active":true,"console":"false","complete":"false","x":856,"y":262.99609375,"wires":[]},{"id":"ae6ac101.af3a6","type":"function","z":"49a5ec92.fc6274","name":"傳訊息給line bot","func":"var msgTools = context.global.msgTools;\nmsgTools.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":876,"y":362.99609375,"wires":[[]]},{"id":"39fa79e3.d84db6","type":"ui_chart","z":"49a5ec92.fc6274","name":"","group":"8aa59a17.2d4e48","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":834.9999694824219,"y":587.9960842132568,"wires":[[],[]]},{"id":"f0c1f289.f2707","type":"websocket out","z":"e2e253ea.6b249","name":"web socket mobiUI - out","server":"9ce4ea64.1d1c18","client":"","x":695,"y":289,"wires":[]},{"id":"6c502fdf.292cd","type":"websocket in","z":"e2e253ea.6b249","name":"web socket tools - in","server":"9ce4ea64.1d1c18","client":"","x":115,"y":189,"wires":[["2b05ce5a.d499f2","2f429306.f883cc"]]},{"id":"4230b88e.a68728","type":"comment","z":"e2e253ea.6b249","name":"監聽 /ws/devices","info":"","x":101.98046875,"y":143.99609375,"wires":[]},{"id":"2b05ce5a.d499f2","type":"function","z":"e2e253ea.6b249","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":355.00000762939453,"y":193.0000057220459,"wires":[["e4c401f1.51afe","1209ee4d.864c42"]]},{"id":"e4c401f1.51afe","type":"function","z":"e2e253ea.6b249","name":"set index/view","func":"var moment = context.global.momentModule;\n\nvar mac = msg.payload.mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":695,"y":189,"wires":[["ce6ddff1.24752"]]},{"id":"99b1a1c2.3b465","type":"function","z":"e2e253ea.6b249","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar msgTools = context.global.msgTools;\nvar data = msgTools.getTabledata (msg.payload);\nnode.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":357,"y":289,"wires":[["f0c1f289.f2707","6370465e.c9e988"]]},{"id":"ce6ddff1.24752","type":"http request","z":"e2e253ea.6b249","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":115,"y":290,"wires":[["6caf7a8e.c3d6f4","99b1a1c2.3b465"]]},{"id":"6caf7a8e.c3d6f4","type":"debug","z":"e2e253ea.6b249","name":"","active":false,"console":"false","complete":"false","x":280,"y":373,"wires":[]},{"id":"62104ab6.cdf484","type":"websocket in","z":"e2e253ea.6b249","name":"","server":"79a39deb.0b33a4","client":"","x":95,"y":489,"wires":[["e5b6e7e1.72cd88"]]},{"id":"e5b6e7e1.72cd88","type":"function","z":"e2e253ea.6b249","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar msgTools = context.global.msgTools;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    msgTools.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":345,"y":489,"wires":[["9ade1f2c.f1b81","77119d5a.576274"]]},{"id":"9ade1f2c.f1b81","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":665,"y":429,"wires":[]},{"id":"77119d5a.576274","type":"websocket out","z":"e2e253ea.6b249","name":"","server":"79a39deb.0b33a4","client":"","x":675,"y":489,"wires":[]},{"id":"30483b65.a2fa24","type":"comment","z":"e2e253ea.6b249","name":"監聽 /WS/setting ","info":"","x":105,"y":449,"wires":[]},{"id":"2f429306.f883cc","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":355,"y":129,"wires":[]},{"id":"1209ee4d.864c42","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":675,"y":129,"wires":[]},{"id":"6370465e.c9e988","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":617.1666870117188,"y":350,"wires":[]}]