.nodered/flows_960193-NB01.json
[{"id":"49a5ec92.fc6274","type":"tab","label":"Flow 1"},{"id":"e2e253ea.6b249","type":"tab","label":"Flow 2"},{"id":"c3b5a067.370d5","type":"tab","label":"Flow 3"},{"id":"c6d5e466.dc2af8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8bd27fdf.c4422","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"10"},{"id":"13305194.74b30e","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"10"},{"id":"73048832.485948","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ce4ea64.1d1c18","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"7acf2980.0986d8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service017","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fad1362d.e35ce8","type":"ui_group","z":"","name":"Group 1","tab":"7d85442a.12e78c","order":1,"disp":true,"width":"10"},{"id":"8aa59a17.2d4e48","type":"ui_group","z":"","name":"Group 2","tab":"7d85442a.12e78c","order":2,"disp":true,"width":"10"},{"id":"7d85442a.12e78c","type":"ui_tab","z":"49a5ec92.fc6274","name":"溫濕度","icon":"dashboard","order":1},{"id":"79a39deb.0b33a4","type":"websocket-listener","z":"","path":"/ws/setting","wholemsg":"false"},{"id":"57515260.230d6c","type":"websocket-client","z":"","path":"ws://localhost:3000/ws/devices","wholemsg":"false"},{"id":"b6f3b4b4.7264b8","type":"ui_group","z":"","name":"Group 1","tab":"1b367352.e461ad","order":1,"disp":true,"width":"10"},{"id":"6ef8e2a0.668d5c","type":"ui_group","z":"","name":"Group 2","tab":"1b367352.e461ad","order":2,"disp":true,"width":"10"},{"id":"dd31040a.974b68","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1b367352.e461ad","type":"ui_tab","z":"49a5ec92.fc6274","name":"溫濕度","icon":"dashboard","order":1},{"id":"f0c1f289.f2707","type":"websocket out","z":"e2e253ea.6b249","name":"web socket mobiUI - out","server":"9ce4ea64.1d1c18","client":"","x":695,"y":289,"wires":[]},{"id":"6c502fdf.292cd","type":"websocket in","z":"e2e253ea.6b249","name":"web socket tools - in","server":"9ce4ea64.1d1c18","client":"","x":115,"y":189,"wires":[["2b05ce5a.d499f2","2f429306.f883cc"]]},{"id":"4230b88e.a68728","type":"comment","z":"e2e253ea.6b249","name":"監聽 /ws/devices","info":"","x":101.98046875,"y":143.99609375,"wires":[]},{"id":"2b05ce5a.d499f2","type":"function","z":"e2e253ea.6b249","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar deviceDbTools = context.global.deviceDbTools;\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    msg.payload = obj.v;\n    //node.warn('payload'+msg.payload);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":355.00000762939453,"y":193.0000057220459,"wires":[["e4c401f1.51afe","1209ee4d.864c42"]]},{"id":"e4c401f1.51afe","type":"function","z":"e2e253ea.6b249","name":"set index/view","func":"var moment = context.global.momentModule;\nvar mac = msg.payload.mac;\ncontext.global.selectedMac = mac;\nvar date = msg.payload.date;\nvar option = 0;//0: 1 day, 1: 1 weeks, 2: 1 months, 3: 3 months \n\nvar type = msg.payload.type;\n\nvar path = 'http://localhost:3000/api/devices?mac='+mac+'&option='+option+'&date='+ date;\nnode.warn('path:'+path);\nmsg.url = path;\nreturn msg;","outputs":"1","noerr":0,"x":695,"y":189,"wires":[["ce6ddff1.24752"]]},{"id":"99b1a1c2.3b465","type":"function","z":"e2e253ea.6b249","name":"Parse(mongoDb message)","func":"var rows = 0;\nvar mac = context.global.selectedMac;\nvar msgTools = context.global.msgTools;\nvar data = msgTools.getTabledata (msg.payload);\nnode.warn(mac);\nmsg.payload = {id:\"change_table\",mac: mac, v: data};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":357,"y":289,"wires":[["f0c1f289.f2707","6370465e.c9e988"]]},{"id":"ce6ddff1.24752","type":"http request","z":"e2e253ea.6b249","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":115,"y":290,"wires":[["6caf7a8e.c3d6f4","99b1a1c2.3b465"]]},{"id":"6caf7a8e.c3d6f4","type":"debug","z":"e2e253ea.6b249","name":"","active":false,"console":"false","complete":"false","x":280,"y":373,"wires":[]},{"id":"62104ab6.cdf484","type":"websocket in","z":"e2e253ea.6b249","name":"","server":"79a39deb.0b33a4","client":"","x":95,"y":489,"wires":[["e5b6e7e1.72cd88"]]},{"id":"e5b6e7e1.72cd88","type":"function","z":"e2e253ea.6b249","name":"Save setting","func":"var obj = JSON.parse(msg.payload);\nvar msgTools = context.global.msgTools;\n\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('init');\n    msg.payload = {id:\"init\", v: 'finish'};\n} else if (obj.id==\"sendCmd\") {\n    var max = obj.v;\n    node.warn('payload'+ max);\n    msgTools.saveSetting (max, function(err,result){\n        if(err) {\n            msg.payload = {id:\"toSaveFail\", v: err};\n        } else {\n            msg.payload = {id:\"toSaveOK\", v: result};\n        }\n    })\n\t \n}\n\nreturn msg; \n","outputs":1,"noerr":0,"x":345,"y":489,"wires":[["9ade1f2c.f1b81","77119d5a.576274"]]},{"id":"9ade1f2c.f1b81","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":665,"y":429,"wires":[]},{"id":"77119d5a.576274","type":"websocket out","z":"e2e253ea.6b249","name":"","server":"79a39deb.0b33a4","client":"","x":675,"y":489,"wires":[]},{"id":"30483b65.a2fa24","type":"comment","z":"e2e253ea.6b249","name":"監聽 /WS/setting ","info":"","x":105,"y":449,"wires":[]},{"id":"2f429306.f883cc","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":355,"y":129,"wires":[]},{"id":"1209ee4d.864c42","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":675,"y":129,"wires":[]},{"id":"6370465e.c9e988","type":"debug","z":"e2e253ea.6b249","name":"","active":true,"console":"false","complete":"false","x":617.1666870117188,"y":350,"wires":[]},{"id":"2964ecdf.c40bd4","type":"inject","z":"c3b5a067.370d5","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":161,"y":165,"wires":[["1cf78bed.306cd4"]]},{"id":"1cf78bed.306cd4","type":"function","z":"c3b5a067.370d5","name":"map 17","func":"var myobj = {\n  \"deviceType\": \"17\",\n  \"typeName\": \"土壤感測\",\n  \"fieldName\": {\n    \"ph\": \"酸鹼度\",\n    \"moisture\": \"含水量\",\n    \"temperature\": \"溫度\",\n    \"ec\": \"電導度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"ph\": [\n      4,\n      8,\n      \"(data+1)*3.3/4096*7\"\n    ],\n    \"moisture\": [\n      14,\n      18,\n      \"data/100\"\n    ],\n    \"temperature\": [\n      18,\n      22,\n      \"data/100\"\n    ],\n    \"ec\": [\n      22,\n      26,\n      \"data/1000\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":164,"wires":[["41d2b0f4.bdec6"]]},{"id":"d84a39db.da3e08","type":"function","z":"c3b5a067.370d5","name":"map 18","func":"var myobj = {\n  \"deviceType\": \"18\",\n  \"typeName\": \"溫濕度感測\",\n  \"fieldName\": {\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\":  new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":309.5,"y":220,"wires":[["41d2b0f4.bdec6"]]},{"id":"9eaab6b4.902318","type":"function","z":"c3b5a067.370d5","name":"map 19","func":"var myobj = {\n  \"deviceType\": \"19\",\n  \"typeName\": \"光合溫濕度\",\n  \"fieldName\": {\n    \"photon\": \"光照度\",\n    \"temperature\": \"溫度\",\n    \"humidity\": \"濕度\",\n    \"voltage\": \"電壓\"\n  },\n  \"map\": {\n    \"photon\": [\n      4,\n      8,\n      \"(data+1)*(3300/4096)\"\n    ],\n    \"temperature\": [\n      14,\n      18,\n      \"data/10\"\n    ],\n    \"humidity\": [\n      18,\n      22,\n      \"data/10\"\n    ],\n    \"voltage\": [\n      8,\n      12,\n      \"data\"\n    ]\n  },\n  \"createUser\": \"Rogwang\",\n  \"createTime\": new Date()\n};\nmsg.payload = myobj;\nreturn msg;","outputs":1,"noerr":0,"x":299.5,"y":273,"wires":[["41d2b0f4.bdec6"]]},{"id":"5bd1963b.06a268","type":"inject","z":"c3b5a067.370d5","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.5,"y":222,"wires":[["d84a39db.da3e08"]]},{"id":"63fce54d.ab51ec","type":"inject","z":"c3b5a067.370d5","name":"","topic":"","payload":"[{\"channel\":926125000, \"sf\":10, \"time\":\"2018-12-16T06:45:05Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-102.0, \"snr\":28.8, \"snr_max\":36.2, \"snr_min\":17.0, \"macAddr\":\"0000000005010dec\", \"data\":\"fb0106380808000000000000000000\", \"frameCnt\":23402, \"fport\":18}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":156.5,"y":276,"wires":[["9eaab6b4.902318"]]},{"id":"41d2b0f4.bdec6","type":"function","z":"c3b5a067.370d5","name":"Create Map","func":"var util = context.global.util;\nutil.createMap(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":223,"wires":[[]]},{"id":"11c73fb0.6e90a","type":"function","z":"49a5ec92.fc6274","name":"取出溫濕度","func":"var obj = msg.payload;\nvar msg1 = {}, msg2 = {};\nmsg1.payload = obj.information.temperature;\nmsg2.payload = obj.information.humidity;\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":421,"y":401,"wires":[["afe78ca1.35fe2","fec98f55.25526","89250500.d9ee28"],["93689145.220df","2e9bc049.08a8"]]},{"id":"9744e93b.d3fc88","type":"function","z":"49a5ec92.fc6274","name":"解析資料","func":"var util = context.global.util;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = util.parseMsgd(msg.payload);\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":403.39453125,"y":167.390625,"wires":[["e33c7866.7619b8","11c73fb0.6e90a","57113fa3.ce436"]]},{"id":"57113fa3.ce436","type":"function","z":"49a5ec92.fc6274","name":"存到資料庫","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":641,"y":161,"wires":[["f6e4726d.6ca52"]]},{"id":"f6e4726d.6ca52","type":"debug","z":"49a5ec92.fc6274","name":"","active":false,"console":"false","complete":"payload","x":871,"y":161,"wires":[]},{"id":"6140bf82.0a045","type":"function","z":"49a5ec92.fc6274","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":483.01947021484375,"y":517.5038757324219,"wires":[[]]},{"id":"9ed5be13.439aa","type":"function","z":"49a5ec92.fc6274","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":475.01947021484375,"y":559.0038452148438,"wires":[[]]},{"id":"afe78ca1.35fe2","type":"ui_gauge","z":"49a5ec92.fc6274","name":"溫度","group":"b6f3b4b4.7264b8","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":821,"y":441,"wires":[]},{"id":"93689145.220df","type":"ui_gauge","z":"49a5ec92.fc6274","name":"濕度","group":"6ef8e2a0.668d5c","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":819.9999542236328,"y":539.9999961853027,"wires":[]},{"id":"c73339f7.b141a8","type":"inject","z":"49a5ec92.fc6274","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":148.01947021484375,"y":373.5038757324219,"wires":[["6140bf82.0a045","9ed5be13.439aa"]]},{"id":"fec98f55.25526","type":"ui_chart","z":"49a5ec92.fc6274","name":"","group":"b6f3b4b4.7264b8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":819.4999542236328,"y":488.33334732055664,"wires":[[],[]]},{"id":"2ed9342f.18635c","type":"inject","z":"49a5ec92.fc6274","name":"","topic":"","payload":"[{\"channel\":925875000, \"sf\":10, \"time\":\"2018-12-22T06:50:53Z\", \"gwip\":\"192.168.0.48\", \"gwid\":\"00001c497b431e2e\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-95.0, \"snr\":24.5, \"snr_max\":32.0, \"snr_min\":17.5, \"macAddr\":\"0000000005010e29\", \"data\":\"fb0106cf0b0f06004b0cda00000000\", \"frameCnt\":8161, \"fport\":17}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":261,"wires":[["9744e93b.d3fc88"]]},{"id":"e33c7866.7619b8","type":"debug","z":"49a5ec92.fc6274","name":"","active":true,"console":"false","complete":"false","x":641.0195999145508,"y":231.00391387939453,"wires":[]},{"id":"ea28f04f.b18ca","type":"debug","z":"49a5ec92.fc6274","name":"","active":false,"console":"false","complete":"false","x":395.01953125,"y":233.00390625,"wires":[]},{"id":"89250500.d9ee28","type":"function","z":"49a5ec92.fc6274","name":"比對溫度設定值","func":"var msgTools = context.global.msgTools;\nvar setting = msgTools.getSetting();\nnode.warn('temperature : ' + msg.payload + ', setting : ' + JSON.stringify(setting));\nif (msg.payload > setting.tempMax) { \n    msg.topic = '溫度過高通知';\n    var data = new Date() +  '溫度超過設定值';\n    msg.payload = data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":601,"y":321,"wires":[["86894dcb.8288f","8c092907.bec348"]]},{"id":"86894dcb.8288f","type":"debug","z":"49a5ec92.fc6274","name":"","active":true,"console":"false","complete":"false","x":841,"y":261,"wires":[]},{"id":"8c092907.bec348","type":"function","z":"49a5ec92.fc6274","name":"傳訊息給line bot","func":"var msgTools = context.global.msgTools;\nmsgTools.sendLineMessage('message test 12345678');\nreturn msg;","outputs":1,"noerr":0,"x":861,"y":361,"wires":[[]]},{"id":"2e9bc049.08a8","type":"ui_chart","z":"49a5ec92.fc6274","name":"","group":"6ef8e2a0.668d5c","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":819.9999694824219,"y":585.9999904632568,"wires":[[],[]]},{"id":"fe4cc4b9.beac98","type":"mqtt in","z":"49a5ec92.fc6274","name":"","topic":"GIOT-GW/UL/+","qos":"2","broker":"dd31040a.974b68","x":124,"y":112.00390625,"wires":[["9744e93b.d3fc88","d5fe000a.7cdb5"]]},{"id":"d5fe000a.7cdb5","type":"debug","z":"49a5ec92.fc6274","name":"","active":true,"console":"false","complete":"false","x":336.5243225097656,"y":80.56641864776611,"wires":[]}]